{% extends "events/base.html" %} {% block content %}
{% if user.is_authenticated%}
<p>logged in user {{user}}</p>
<p>event manager {{event.manager}}</p>
<h1>add venue to Database</h1>
<br /><br />

{% if submitted %} 
your venue submitted successfully !!!

 {% else %}

<form action="" method="post">
  {%csrf_token%} {{form.as_p}}
  <input type="submit" value="submit" class="btn btn-secondary" />
</form>
{%endif%} 
{% else %}
<h1>you must be logged in</h1> <a href="{% url 'login' %}">Login here</a>
{%endif%}
{% endblock content %}
